@model ForumProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 style= "color:#FF8F5E">@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 style= "color:#FF8F5E">Profile</h4>
    <hr />
    <dl class="dl-horizontal"  >
        <dt style= "color:#FF8F5E">First name:</dt>
        <dd>@Model.FirstName</dd>
    </dl>
    <dl class="dl-horizontal"  >  
        <dt style= "color:#FF8F5E">Last name:</dt>
        <dd>@Model.LastName</dd>
    </dl>
    <dl class="dl-horizontal"  >
         <dt style= "color:#FF8F5E">Username:</dt>
        <dd>@Model.UserName</dd>
    </dl>
    <dl class="dl-horizontal"   >
        <dt style= "color:#FF8F5E">Email:</dt>
        <dd>@Model.Email</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt style= "color:#FF8F5E" >Phone number:</dt>
        <dd>@Model.PhoneNumber</dd>
    </dl>

    <dl class="dl-horizontal">
        <dd>

            @if (Model.HasPassword)
            {
                <a href='@Url.Action("ChangePassword","Manage")' class ="btn-createPost btn btn-danger" style="text-align:right;font-size:15px; margin-left:5px" >Change your password</a>
            }

            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

        </dd>

    </dl>
    <div class="form-group">
        <a href='@Url.Action("EditProfile","Manage")' class="btn-createPost btn btn-danger" style=" margin-left:200px; font-size:15px" >Edit</a>
    </div>
</div>
