@model ForumProject.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>First name:</dt>
        <dd>@Model.FirstName</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Last name:</dt>
        <dd>@Model.LastName</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Username:</dt>
        <dd>@Model.UserName</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Phone number:</dt>
        <dd>@Model.PhoneNumber</dd>
    </dl>

    <dl class="dl-horizontal">
        <dd>

            @if (Model.HasPassword)
            {
                <button style="text-align:right; float:right "><a href='@Url.Action("ChangePassword","Manage")' class="btn btn-default">Change your password</a></button>
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }

        </dd>

    </dl>
    <div class="form-group">
        <button type="submit" style=" float:right; margin-top:10px"><a href='@Url.Action("EditProfile","Manage")' class="btn btn-default">Edit</a></button>
    </div>
</div>
