@model ForumProject.Models.ForumModels.ForumViewModels.CreatePostViewModel
@{
    ViewBag.Title = "CreatePost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("CreatePost", "Home", FormMethod.Post, new { @class = "", role = "form" }))
{
    <div class="form-group" style="margin-left:15px">
        <h2>Create Post</h2>
        @Html.AntiForgeryToken()
    </div>
    @Html.HiddenFor(m => m.DiscussionId)
    <div class="form-group" style="margin-left:15px">
        @Html.LabelFor(m => m.Text)
        @Html.TextAreaFor(m => m.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Text)

    </div>
    <div class="form-group" style="margin-left:15px">
        <button type="submit" style=" margin-left:210px; margin-top:10px" class="btn btn-default">Create</button>
    </div>

}
