@model ForumProject.Models.ForumModels.ForumViewModels.DiscussionPageViewModel

@{
    ViewBag.Title = "Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Discussion</h2>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-danger">
            <div class="page-header" style="text-align:center; margin-top:10px">
                <h3> @Model.Discussion.Title</h3>
            </div>
            <div class="panel panel-body">
                <div class="col-md-2">
                    <p style="text-align: center; font-size: 30px; margin-bottom: 0; color: tan"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
                    <p style="text-align: center; margin-bottom: 0;">@Model.Discussion.ApplicationUser.UserName</p>
                    <span class="badge"> Posts: @Model.Discussion.ApplicationUser.PostsCount</span>
                    <span class="badge">Discussions:@Model.Discussion.ApplicationUser.DiscussionsCount</span>
                </div>
                <div class="col-md-8" style="text-align:center">
                    @Model.Discussion.Description
                </div>

                <div class="col-md-2" style="float:right">

                    @using (Html.BeginForm("DiscussionLike", "Home", FormMethod.Post, new { }))
                    {
                        <input type="hidden" name="discussionId" value="@Model.Discussion.DiscussionId" />
                        <div class="form-group">
                            <button type="submit" style=" float:right; margin-top:10px" class="btn btn-default">Like:@Model.Discussion.Likes</button>
                        </div>
                    }
                    @using (Html.BeginForm("DiscussionDislike", "Home", FormMethod.Post, new { }))
                    {
                        <input type="hidden" name="discussionId" value="@Model.Discussion.DiscussionId" />
                        <div class="form-group">
                            <button type="submit" style=" float:right; margin-top:10px" class="btn btn-default">Dislike:@Model.Discussion.Dislikes</button>
                        </div>
                    }

                </div>

            </div>

        </div>
        @{

            for (int i = 0; i < Model.Posts.Count; i++)
            {
                <div class="panel panel-warning">
                    <div class="panel-body">
                        <div class="col-md-2">
                            <p style="text-align: center; font-size: 30px; margin-bottom: 0; color: tan"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
                            <p style="text-align: center; margin-bottom: 0;">@Model.Posts[i].ApplicationUser.UserName</p>
                            <span class="badge"> Posts: @Model.Posts[i].ApplicationUser.PostsCount</span>
                            <span class="badge">Discussions:@Model.Posts[i].ApplicationUser.DiscussionsCount</span>
                        </div>
                        <div class="col-md-8" style="text-align:center">
                            @Model.Posts[i].Text
                        </div>
                        <div class="col-md-2" style="float:right">

                            @using (Html.BeginForm("PostLike", "Home", FormMethod.Post, new { }))
                            {
                                <input type="hidden" name="discussionId" value="@Model.Posts[i].DiscussionId" />
                                <input type="hidden" name="postId" value="@Model.Posts[i].PostId" />
                                <div class="form-group">
                                    <button type="submit" style=" float:right; margin-top:10px" class="btn btn-default">Like:@Model.Posts[i].Likes</button>
                                </div>
                            }
                            @using (Html.BeginForm("PostDislike", "Home", FormMethod.Post, new { }))
                            {
                                <input type="hidden" name="discussionId" value="@Model.Posts[i].DiscussionId" />
                                <input type="hidden" name="postId" value="@Model.Posts[i].PostId" />
                                <div class="form-group">
                                    <button type="submit" style=" float:right; margin-top:10px" class="btn btn-default">Dislike:@Model.Posts[i].Dislikes</button>
                                </div>
                            }

                        </div>

                    </div>
                </div>
            }
        }
        <div title="To create post you must be authenticated">
            <button style="text-align:right;margin-top:10px;float:right"><a href='@Url.Action("CreatePost","Home", new { @discussionId = Model.Discussion.DiscussionId })' class="btn btn-group-lg" disabled="@(!User.Identity.IsAuthenticated)">Create post</a></button>
        </div>

    </div>

    <div class="col-md-4">
      
            <h3>Categories</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href='@Url.Action("Index", "Home", new { categoryId = 0 })'>Show all discussions</a>
                </li>
                @{
                    foreach (var category in Model.Categories)
                    {
                        <li class="list-group-item">
                            <span class="badge">@category.DiscussionsCount</span>
                            <a href='@Url.Action("Index", "Home", new { categoryId = category.CategoryId })'>@category.Name</a>
                        </li>
                    }
                }
            </ul>

        </div>


</div>

