@model ForumProject.Models.ForumModels.ForumViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div title="To create discussion you must be authenticated">
    <a href='@Url.Action("CreateDiscussion","Home")' class="btn btn-danger btn-lg" disabled="@(!User.Identity.IsAuthenticated)">Create new discussion</a>
</div>
<div class=" row">
    <div class="col-md-8">
        <h3 class="headerTitle">Discussions</h3>

        @{
            for (int i = 0; i < Model.Discussions.Count; i++)
            {
                <div class="panel panel-warning">
                    <div class="page-header">
                        <a class="discussionTitle" href='@Url.Action("Discussion", "Home", new { discussionId = @Model.Discussions[i].DiscussionId })'>@Model.Discussions[i].Title</a>
                    </div>
                    <div class="panel panel-body">
                        <div class="col-md-2">
                            <p style="text-align: center; font-size: 30px; margin-bottom: 0; color: tan"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></p>
                            <p class="username">@Model.Discussions[i].ApplicationUser.UserName</p>
                            <span class="badge"> Posts: @Model.Discussions[i].ApplicationUser.PostsCount</span>
                            <span class="badge">Discussions:@Model.Discussions[i].ApplicationUser.DiscussionsCount</span>
                        </div>
                        <div class="col-md-8" style="text-align:center">
                            @Model.Discussions[i].Description
                        </div>
                        <div class="col-md-2">
                            <span class="glyphicon glyphicon-comment" style=" font-size: x-large; float: right" aria-hidden="true">@Model.Discussions[i].PostCount</span>
                        </div>


                    </div>
                </div>

            }

        }

    </div>
    <div class="col-md-4">
        <h3 class="headerTitle">Categories</h3>
        <ul class="list-group">
            <li class="list-group-item">
                <a href='@Url.Action("Index", "Home", new { categoryId = 0 })'>Show all discussions</a>
            </li>
            @{
                foreach (var category in Model.Categories)
                {
                    <li class="list-group-item">
                        <span class="badge">@category.DiscussionsCount</span>
                        <a href='@Url.Action("Index", "Home", new { categoryId = category.CategoryId })'>@category.Name</a>
                    </li>
                }
            }
        </ul>

    </div>

</div>
